.header {
  background-color: var(--background);
}
.menu {
  display: flex;
  align-items: center;
  max-width: 1240px;
  height: 56px;
  margin: 0 auto;
}

.menu_part_left {
  display: flex;
  flex-basis: 35%;
}

.link {
  display: flex;
  text-decoration: none;
  color: var(--text-inactive-color);
}

.link_active {
  color: var(--text-primary-color);
}

.link_position_last {
  display: flex;
  justify-content: flex-end;
  flex-basis: 35%;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.menuLink,
.activeMenuLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
  height: 40px;
  transition: background 0.2s, color 0.2s;
}

.menuLink {
  color: var(--text-inactive-color);
}

.activeMenuLink {
  color: var(--text-primary-color);
  background: #1c1c21;
}
